// RESET ------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin-bottom: 4rem;
  
  &.content {
    margin: 0 auto;
    padding: 1rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}